<div class="card text-center" style="width: 18rem;"> <!-- Se agrega text-center -->
  <img class="card-img-top img-fluid" [src]="dataCard.img">
  <div class="card-body">
    <h5 class="card-title">{{ dataCard.name }}</h5>
    <p class="card-text">{{ dataCard.description }}</p>
    <p class="card-text">{{ dataCard.platform }}</p>
    <button class="btn btn-primary" (click)="detailGame(indexCard)"> Ver detalle </button>
    <hr>
    <!-- <a href="#" class="btn btn-primary" (click)="buyGame()"> Comprar </a> -->
    <a class="btn btn-primary" (click)="buyGame()"> Comprar </a>
  </div>
</div>
